 {
	"jbuniversal.staff.full":  {
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "150",
				"link_to_item": "0",
				"element": "0d8c5ca2-b6e0-4d71-9975-ea490a2d874e"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "09b56d37-68e8-4933-8fb4-85f9fb12d138"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "77384fc6-b0c7-4c3f-9542-671581b4a7fc"
			}
		}
	},
	"jbuniversal.staff.subcategory_item":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "56fa7eac-ab13-45d1-8217-34a0755ed8f9"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "0d8c5ca2-b6e0-4d71-9975-ea490a2d874e"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0621187d-f66a-45a9-99f0-fde5727aa131"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "77384fc6-b0c7-4c3f-9542-671581b4a7fc"
			}
		}
	},
	"jbuniversal.staff.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "56fa7eac-ab13-45d1-8217-34a0755ed8f9"
			}
		}
	},
	"jbuniversal.staff.teaser":  {
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "150",
				"link_to_item": "1",
				"element": "0d8c5ca2-b6e0-4d71-9975-ea490a2d874e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	}
}